<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Section List</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>


<h1 th:text="'Attendance for student : ' + ${student.firstName} + ' ' + ${student.lastName}"></h1>


<ul>
    <li th:text="'Possible Total : ' + ${studentReport.totalSessionsPossible}"></li>
    <li th:text="'Session Attended Total : '+${studentReport.totalSessionsAttended}"></li>
    <li th:text="'TotalPercentage : ' + ${studentReport.totalAttendancePercentage}"></li>

</ul>



<select>
    <option th:each="block : ${blocks}" th:value="${block.block.id}" th:label="${block.block.blockName}"></option>
</select>



<ul>
    <li th:text="'Sessions in block : ' + ${stuBlockAttendReport.daysAvailable}"></li>
    <li th:text="'Days present : ' + ${stuBlockAttendReport.daysPresent}" ></li>
    <li th:text="'Percentage attended : ' + ${stuBlockAttendReport.attendancePercentage}"></li>
    <li th:text="'Extra Credit points : ' + ${stuBlockAttendReport.extraPoints}" ></li>
</ul>

<table>

    <tr>
        <th>Date </th>
        <th>Present <th>
    </tr>

    <tr th:each="day : ${blockDays}">
        <td th:text="${day.key}"></td>
        <td th:text="${day.value}"></td>
    </tr>

</table>

</body>
</html>